.slider-inspirations {
    .slider-title {
        border-top: 0.5px solid $third-color;
        p {
            padding: 50px 0;
            text-align: center;
            color: $secondary-color;
            font-size: 24px;
            font-style: italic;
        }
    }
    .main-slider-container {
        margin: 0 auto;
        width: 92%;
        .slick-prev:before,
        .slick-next:before {
            font-size: 18px;
            color: rgb(182, 69, 87);
        }
        .slick-dots {
            bottom: -30px;       
        }
        .slick-dots li button:before {
            color: rgb(182, 69, 87);
        }
        .slick-dots li.slick-active button:before {
            color: rgb(182, 69, 87);
        }
    }
}
